/* add home page styles here */
.animal-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#dog-pic, #cat-pic, #horse-pic {
margin: 8px;
transition: all 0.05s ease-in-out;
border-radius: 25px;
}

#dog-pic:hover, #cat-pic:hover, #horse-pic:hover {
  border: 5px hsla(0, 100%, 77%, 1) solid;
}

section {
  border-radius: 25px;
}

#last-picked {
  font-size: 2em;
}


